.container {
  display: flex; /* put menu + content side by side */
  min-height: 100vh; /* full height */
}

.menu {
  width: 200px; /* fixed width sidebar */
  background-color: #f95959;
  color: white;
  padding: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  border: solid white 1px;
  border-radius: 5px;
}

.menu li:hover {
  background-color: gray;
}

.content {
  flex: 1; /* take up remaining space */
  background-color: #fdffcd;
  padding: 30px;
  color: black;
}
